* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}
body {
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewport="0 0 100 100" style="fill:none;stroke:white;stroke-width:0.5;"><circle cx="15" cy="15" r="7"/></svg>')
      15 15,
    auto;
}

button,
a {
  position: relative;
}

button:hover,
a:hover {
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewport="0 0 100 100" style="fill:none;stroke:white;stroke-width:0.5;"><circle cx="20" cy="20" r="10"/></svg>')
      20 20,
    auto;
}
