.text{
    color: white;
}

.input-label{
    margin: 30px;
    background: none;
    border: none;
    outline: none;
    max-width: 190px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 9999px;
    color: white;
}

.center{
    text-align: center;
}
.buttons{
    position: relative;
    margin-left: 20px;
    padding-bottom: 20px;
    padding-top: 30px;
    padding-right: 10px;
    display: inline-block;
}

.inputBox {
    position: relative;
    margin-left: 30%;
  }
  
  .inputBox input {
    padding: 15px 20px;
    outline: none;
    background: transparent;
    border-radius: 5px;
    color: #e8e8e8;
    border: 1px solid#e8e8e8;
    font-size: 1em;
    
  }
  
  .inputBox span {
    position: absolute;
    left: 0;
    font-size: 0.7em;
    transform: translateX(14px) translateY(-7.5px);
    padding: 0 6px 1px 5px;
    border-radius: 2px;
    background: #212121;
    letter-spacing: 1px;
    border: 1px solid #e8e8e8;
    color: #e8e8e8;
  }



/* CSS */
.button-85 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}


.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  gap: 80px;
  padding-top: 100px; 
  padding-left: 90px;
  justify-content: center;
  width: 100%;
  height: 100%;
  
}
.theProduct-box {
  border: 1px solid #565454;
  width: 500px;
  position: relative;
  perspective: 1000px;
}
/*
    Alternative Input Field Style

  .input-field {
    margin: 30px;
    background: none;
    border: none;
    outline: none;
    max-width: 190px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 9999px;
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
    color: #fff;
  }
*/


