.navbar-container {
  display: flex;
  justify-content: center;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: fixed;
  top: 0;
  width: 70%;
  background: transparent;
  z-index: 1000;
  box-shadow: 0 0.5px 0 0 rgba(255, 255, 255, 0.5);
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-container:active,
.logo-container:focus,
.logo-container:hover {
  color: inherit;
  text-decoration: none;
}

.logo {
  width: 200px;
  height: auto;
}

.login-access {
  display: flex;
  align-items: center;
}

.login-img {
  height: 25px;
  width: auto;
}

.menu-button {
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  padding: 0;
  margin-right: 10px;
  color: white;
  font-size: 15px;
}

.menu-buttons {
  height: 20px;
  margin-right: 10px;
}

.tooltip-container {
  position: relative;
  display: inline-block;
}

.tooltip-text {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -60px;

  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip-container:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 1020px) {
  .navbar {
    width: 90%;
    padding: 10px;
  }
}
